  * {
            color: black;
        }

        body {
            background-image: url(Background.avif);
            background-size: cover;
            background-repeat: no-repeat;

            overflow: hidden;


        }

        .box1 {
            width: 100vw;
            height: 10vh;
            padding: 5px;
            left: 0px;
            text-align: center;
            position: absolute;
            top: 0px;

        }

        .box2 {
            /* border: 3px solid red; */
            width: 100vw;

            position: absolute;
            bottom: 0px;
            text-align: center;

        }




        nav ul a {

            display: inline-block;
            list-style: none;
            margin: 10px;
            padding: 10px;

        }

        .box3 {

            padding: 3px;
            position: relative;
            width: 19vw;
            top: 81px;
            height: 27vh;
            /* border: 3px solid green; */

        }

        .box4 {
            padding: 16px;
            position: relative;
            left: 25vw;
            /* border: 3px solid red; */
            width: 18vw;
            bottom: 143px;
            height: 25vh;

        }

        .box5 {

            padding: 16px;
            position: relative;
            left: 50vw;
            /* border: 3px solid red; */
            width: 18vw;
            bottom: 364px;
            height: 25vh;
        }

        .lbox {
            padding: 16px;
            position: relative;
            left: 75vw;
            /* border: 3px solid red; */
            width: 18vw;
            bottom: 583px;
            height: 25vh;
            /* border: 3px solid red; */
        }

        .box3:hover {

            box-shadow: 5px 15px 5px green;
        }

        .box4:hover {

            box-shadow: 5px 15px 5px maroon;
        }

        .box5:hover {
            box-shadow: 5px 15px 5px rgb(44, 186, 31);
        }

        .lbox:hover {
            box-shadow: 5px 15px 5px rgb(74, 0, 235);
        }

        .parent {
            position: relative;
            top: 130px;
        }

        .p {
            position: relative;
            top: 100px;
        }

        a {
            text-decoration: none;
        }

        a:hover {

            color: aqua;
        }